/*--------------------------------------FONDO---------------------------------------------------------------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Roboto;
    background-color: black;
    display: flex;
    justify-content: center;
    padding: 50px;
}

/*--------------------------------------CONTENEDOR-PRINCIPAL---------------------------------------------------------------------------*/
#container {
    background-color: white;
    width: 80%;
    height: 80%;
    margin: 20px;
}

/*--------------------------------------HEADER---------------------------------------------------------------------------*/


.header {
    background-color: white;
    width: 100%;
    height: 80px;
    
}
/*--------------------------------------ICONOS---------------------------------------------------------------------------*/

.fa-html5 {
    font-size: 60px;
    padding: 30px;
    display: inline;
    float: left;
}

.fa-bars {
    font-size: 60px;
    padding: 30px;
    display: inline;
    float: right;
}

/*--------------------------------------TITULOS---------------------------------------------------------------------------*/

.nombres {
    padding: 30px;
    
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 25px;
    font-weight: 200;

}


/*--------------------------------------MAIN---------------------------------------------------------------------------*/

#main img {
    width: 100%;
    height: 100%;
   
}

/*--------------------------------------FOOTER ICONS---------------------------------------------------------------------------*/

.icons {
    font-size: 60px;
    padding: 30px;   
}

.fa-bookmark {
    float: right;
}

/*--------------------------------------FOOTER TITLE PUBLICATION---------------------------------------------------------------------------*/

.titlePublication {
    padding: 30px;
    font-size: 20px;
}

span {
    font-weight: bold;
}

h3 {
    font-weight: 200;
}

/*--------------------------------------FOOTER DESCRIPTION---------------------------------------------------------------------------*/

.description {
    font-size: 20px;
    font-weight: 200;
    padding: 30px; 
}